extends layout 

block content 
    style.
        body {
            background-image: url('https://wallpaperaccess.com/full/6890234.jpg');
            background-position: right 5px;
        }
        .container {
            display: flex;
            justify-content: center; /* Align horizontally */
            align-items: center; /* Align vertically */
        }
        .card {
            width: 100%;
            max-width: 600px;
            border: none;
            border-radius: 10px;
            box-shadow: 0 0 20px rgba(0, 0, 0, 1);
            background-color: rgba(255, 255, 255, 0.03);
            color: white;
        }
        .card-header {
            background-color: #4D5756; /* Changed background color */
        }
    .card.mt-5
        .card-header.text-center
            h2.card-title Contact us
        .card-body.mt-2.text-center
            p.card-text
                | Mobile : 9034524356
                br
                | Email : medstore@gmail.com
